<div>
  <form action="/users/new" method='get'>
      <input type="submit" value='New Employee'>
    </form>

     <form action="/sessions/new" method='get'>
      <input type="submit" value ='Log-in'>
    </form>
</div>