<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Maxwell's Bar & Baby Food</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
	<h1>MAXWELL'S BAR & BABY FOOD</h1>
	<%= yield %>
	
</body>
</html>