<h2>
	<a href="/parties/:id/edit">Update Party</a>
	<a href="/foods/:id/edit">Update Food</a>
	<a href="/orders/:id">Your Order</a>


</h2>


<h1>Current Orders</h1>



<ul>
<% @orders.each do |order| %>
	<li>
		<a href="/orders/<%= order.id%>"></a>
	</li>
	<% end %>
</ul>
</h2>

