
<form action="/orders" method="post" />
<input type="text" placeholder="Party Name" name="party[name]" />
<input type="text" placeholder="Party Size" name="party[size]" />

<input type="text" placeholder="Food" name="food[name]" />
<input type="text" placeholder="Suggest Price" name="food[price]" />
<input type="submit" value="BLEND IT!">
</form>
