
<form action="/orders" method="post" />
<input type="text" placeholder="Name" name="party[name]" />
<input type="text" placeholder="Size" name="party[size]" />

<input type="text" placeholder="Food" name="food[name]" />
<input type="text" placeholder="Your Price" name="food[price]" />
<input type="submit" value="BLEND IT!">
</form>