<h2>Our food not good enough for you?</h2>
<h3>Ok, you do it then.</h3>

<form action="/foods" method="post" />
<input type="text" placeholder="Food" name="food[name]" />
<input type="text" placeholder="Your Price" name="food[price]" />
<input type="submit" value="BLEND IT!">
</form>