<h1>
	<ul>
		<% @food.each do |f| %>
			<li>
			<!-- <%= f.name %> -->
				<form action="/orders" method="post" />
					<input type="hidden" name="food_id" value="<%= f.id %>"/>
					<input type="hidden" name="party_id" value="<%= @party.id %>"/>
					<input type="submit" value="<%= f.name %>" />
				</form>

			</li>
		<% end %>
	</ul>
</h1>