<h2>WANT TO PUT YOUR NAME DOWN?</h2>
<h3>Ok, you do it then.</h3>

<form action="/parties" method="post" />
<input type="text" placeholder="Name" name="party[name]" />
<input type="text" placeholder="Size" name="party[size]" />
<input type="submit" value="Get in line">
</form>