<h2>Did you want to update <a href="/parties/<%= @party.id %>/edit" ><%= @party.name %>, party of <%= @party.size %></a>?</h2>


<h2>Add some food, making you better feeling</h2>
<form action="/orders" method="post" />
<input type="text" placeholder="Food" name="food[name]" />
<input type="text" placeholder="Your Price" name="food[price]" />
<input type="submit" value="Add that shit">
</form>


<h2>Or Leave.</h2>
<form action="/foods/<%= @party.id %>" method="post"/>
<input type="hidden" name="_method" value="delete" />
<input type="submit" value="Leave">
</form>